@charset "utf-8n";

/* Erase the circle before the list */
ul {
  list-style:none;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
/* Link Button (大項目)*/

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 4px #FF000F;
    color: #FF000F;
    background: #FF999F;
    transition: .4s;
}


.square_btn:hover {
    background: #FF000F;
    color: #040404;
}

/* Wrap buttons when the screen is narrow */

.fl_tw {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #FF000F;
  font-size: 1.2px;
  text-decoration: none;
  }

.fl_tw:hover {
  color:#040404;
  transition: .5s;
}

/* Link Button （小項目）*/
.square_btn2{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    font-size: 1.2em;
    text-decoration: none;
    border-left: solid 4px #ffd000;
    border-right: solid 4px #ffd000;
    border-top:solid 4px #ffd000;
    border-bottom:solid 4px #ffd000;
    color: #668ad8;
    background: #ffff8c;
    transition: .4s;
}


.square_btn2:hover {
    background: #ddf000;
    color: #000000;
}

/* Wrap buttons when the screen is narrow */
.fl_tw2 {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1fdfa3;
  font-size: 1.2em;
  text-decoration: none;
  }

.fl_tw2:hover {
  color:#88daff;
  transition: .5s;
}

/* shrink image when the screen is narrow */
img {
     max-width: 90%;
}

/* indent for class="indentback" */
p.indentback{
  text-indent: -1em;
  padding-left: 2em;
}

/* highlight the head line */
h2 {
border-bottom: solid 4.5px #cccccc;
}

/* table style */
table, th, td {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

caption{
 white-space: nowrap;
}
